<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dp.dao.mapper.CommonMapper" >

    <select id="selectListBySql" resultType="hashmap">
      ${sql}
    </select>

    <select id="selectList" resultType="hashmap">
      select ${dataSql}
      from ${table}
      <if test="whereSql != null">
        where ${whereSql}
      </if>
    </select>

    <select id="selectOneFieldBySql" resultType="java.lang.String">
      ${sql}
    </select>

</mapper>